
.resume{
    background-color: aliceblue;
    border: 3px solid rgb(57, 59, 66, .05);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    font-weight: normal; /* Убираем жирное начертание */
    width: 1024px;
    margin: 50px;
}
.Figure{
    margin: -3px;
    margin-bottom: 10px;

}

.Figure_down{
    margin: -4px;
    margin-top: 10px;

}
.d1{
    height: 0; 
    width: 462px;
    border-top: 75px solid #302A2A;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;

}
.d2{
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #302A2A;
    margin-top: -3px;
    margin-left: 100px;

}
.grid_header{
    display: grid;
    grid-template-columns:  512px 512px;
    margin-bottom: 10px;
    margin: 0px;    
}
.disc{
    font-family: URW Chancery L, cursive; 

}
img{
    margin:20px; 
    width: 300px;
}
.grid_main{

    display: grid;
    grid-template-columns:  300px 50px 672px;
    margin-bottom: 10px;
}
.left_info{
    padding-left: 10px
}
.center_info{
    border-right: 2px solid black;
  
}
.right_info{
    padding-left: 30px;
}
p{
    margin: 0px ;
    padding: 5px;
    padding-left: 30px;
}
.info{
    display: block;
    font-size: 150%; 
    font-weight: normal; /* Убираем жирное начертание */
}
.info__name{
    display: block;
    border-bottom: 2px solid #1A1616;
    padding: 10px;
    
}
.info__name__text{
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 60%;
    word-wrap: break-word;
}
.title{
    display: flex;
    flex-direction: column; 
}
.title_info{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.title_info_text{
    padding: 10px;
}
.title_info div:nth-child(1){
    flex:none;
    width: 60px;
}
.title_info_text ul{
    padding-left: 20px;
}

.tittle{
    display: flex;
    border-bottom: 2px solid #1A1616; 
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px;
}
.tittle__text{
    display: block;
    font-size: 30px;
}      
.tittle__fig{
    height: 25px; 
    width: 25px; 
    margin: 5px 20px 0 0;
    background: black;
    position: absolute;
    left: 396px;
}
.tittle__fig:before {
    content: "";
    height: 0; 
    width: 0;
    position: absolute; 
    left: 25px; 
    top: 0px;
    border-left: 15px solid black;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
}
.tittle__fig:after {
    content: "";
    height: 0; 
    width: 0;
    position: absolute; 
    left: 0px; 
    top: 25px;
    border-top: 15px solid gray;
    border-left: 15px solid transparent;
}
.info-right p{
    margin: 0px ;
    padding: 0px;
    padding-top: 5px;
}

.info-right {
     font-size: 0; 
}
.tittle__text-left{
    display: inline-block;
    margin: 0px ;
    padding: 0px;
    width: 30%;
    font-size: 16px;
    vertical-align: top;
    padding-top: 30px ;

}
.tittle__text-right{
    display: inline-block;
    width: 70%;
    word-wrap: break-word;
    font-size: 16px;
}
.d3{
    width: 0; 
    height: 0;
    margin-top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #302A2A;
    margin-left: 924px;
    
}
.d4{
    padding:0;
    height: 0; 
    width: 512px;
    border-bottom: 75px solid #302A2A;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    margin-left: 469px;
}